.kaay{
    // display: flex;
    // justify-content: center;
    // color: blue;
    // padding: 10px ;
    // margin: 20px;
    padding: 60px;
    text-align: center;
    background: #053986;
    color: white;
    font-size: 30px;
}

.labs {
    background: #053986;
    color: white;

}


.search {
    width: 25%;
    display: flex;
}